.js-gallery{
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  
}

.photo-card{
    display: inline-flex;
    flex-direction: column;
    max-width: 270px;
    margin: 0 auto;
}


.info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-item{
    font-size: 14;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

